<!-- <div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

    <mat-drawer-container class="flex-auto sm:h-full">

        <mat-drawer class="w-full sm:w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #drawer>

            <div class="flex items-center justify-between">
                <div></div>

                <div class="lg:hidden">
                    <button mat-icon-button (click)="drawer.close()">
                        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="flex flex-col divide-y border-t border-b">
                <ng-container *ngFor="let role of roles; trackBy: trackByFn">
                    <div class="flex px-8 py-5 cursor-pointer" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedRole || selectedRole !== role.id,
                                    'bg-primary-50 dark:bg-hover': selectedRole && selectedRole === role.id}" (click)="goToRole(role.id)">
                        <div class="ml-3">
                            <div class="font-medium leading-6" [ngClass]="{'text-primary dark:text-primary-500': selectedRole && selectedRole === role.id}">
                                {{role.title}}
                            </div>                            
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">

                <div class="flex items-center">

                    <button class="lg:hidden -ml-2" mat-icon-button (click)="drawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                    </button>

                    <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                        {{getRoleInfo(selectedRole).title}}權限設定
                    </div>
                </div>

                <div class="mt-8">
                    <ng-container [ngSwitch]="selectedRole">                       
                        <ng-container *ngSwitchCase="'sysadmin'">
                            <role-profile></role-profile>
                        </ng-container>
                        <ng-container *ngSwitchCase="'security'">
                            <role-profile></role-profile>
                        </ng-container>
                        <ng-container *ngSwitchCase="'manager'">
                            <role-profile></role-profile>
                        </ng-container>
                        <ng-container *ngSwitchCase="'operator'">
                            <role-profile></role-profile>
                        </ng-container>
                        <ng-container *ngSwitchCase="'inquirer'">
                            <role-profile></role-profile>
                        </ng-container>
                    </ng-container>
                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>
</div> -->

<div class=" mb-5 relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 md:px-8">
    <div></div>

    <mat-form-field class="fuse-mat-dense fuse-mat-rounded sm:min-w-120" [subscriptSizing]="'dynamic'">

        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'" matPrefix></mat-icon>
        <input matInput [placeholder]="'新增權限群組'">
        <button mat-icon-button matSuffix>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
        </button>
    </mat-form-field>
    <div></div>

</div>

<div class="w-full" *transloco="let t">
    <p-tabView>
        <p-tabPanel *ngFor="let role of roles" [header]="t(role.id)" [scrollable]="true">
            <role-profile></role-profile>
        </p-tabPanel>
    </p-tabView>
</div>