<div class="flex flex-col min-w-72 flex-auto md:w-160 md:min-w-160 -m-6" *transloco="let t">
    <div class="m-8">
        <form [formGroup]="form">

            <!-- Title -->
            <div class="mb-6">
                <span class="w-full text-2xl">
                  {{ t('create') }} {{ t('auth-group') }}
                </span>
            </div>

             <!-- Name & Role -->
             <div class="mt-1">
                <div class="flex">
                    <mat-form-field class="w-full gts-mat-dense">
                        <mat-label>{{ t('name') }}</mat-label>
                        <input matInput [formControlName]="'name'">
                    </mat-form-field>
                </div>
            </div>


            <!-- Edit Actions -->
            <div class="flex items-center justify-between mt-4 mb-2">

                <!-- Delete -->
                <div class="flex items-center space-x-2">
                    @if(user.id){
                    <button type="button" mat-icon-button (click)="onDelete()">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
                    }
                </div>

                <!-- Save -->
                <div>
                    <button mat-stroked-button class="mr-2" (click)="onSave()">
                        <mat-icon class="pr-2" [svgIcon]="'heroicons_outline:bookmark-square'"></mat-icon>{{ t('create') }}
                    </button>
                    <button mat-stroked-button mat-dialog-close="false">
                        <mat-icon class="pr-2" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>{{ t('close') }}
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>