/* Root navigation specific */
gts-horizontal-navigation {

    .gts-horizontal-navigation-wrapper {
        display: flex;
        align-items: center;

        /* Basic, Branch */
        gts-horizontal-navigation-basic-item,
        gts-horizontal-navigation-branch-item {

            @screen sm {

                &:hover {

                    .gts-horizontal-navigation-item-wrapper {
                        @apply bg-hover;
                    }
                }
            }

            .gts-horizontal-navigation-item-wrapper {
                border-radius: 4px;
                overflow: hidden;

                .gts-horizontal-navigation-item {
                    padding: 0 16px;
                    cursor: pointer;
                    user-select: none;

                    .gts-horizontal-navigation-item-icon {
                        margin-right: 12px;
                    }
                }
            }
        }

        /* Basic - When item active (current link) */
        gts-horizontal-navigation-basic-item {

            .gts-horizontal-navigation-item-active,
            .gts-horizontal-navigation-item-active-forced {

                .gts-horizontal-navigation-item-title {
                    @apply text-primary #{'!important'};
                }

                .gts-horizontal-navigation-item-subtitle {
                    @apply text-primary-400 #{'!important'};

                    .dark & {
                        @apply text-primary-600 #{'!important'};
                    }
                }

                .gts-horizontal-navigation-item-icon {
                    @apply text-primary #{'!important'};
                }
            }
        }

        /* Branch - When menu open */
        gts-horizontal-navigation-branch-item {

            .gts-horizontal-navigation-menu-active,
            .gts-horizontal-navigation-menu-active-forced {

                .gts-horizontal-navigation-item-wrapper {
                    @apply bg-hover;
                }
            }
        }

        /* Spacer */
        gts-horizontal-navigation-spacer-item {
            margin: 12px 0;
        }
    }
}

/* Menu panel specific */
.gts-horizontal-navigation-menu-panel {

    .gts-horizontal-navigation-menu-item {
        height: auto;
        min-height: 0;
        line-height: normal;
        white-space: normal;

        /* Basic, Branch */
        gts-horizontal-navigation-basic-item,
        gts-horizontal-navigation-branch-item,
        gts-horizontal-navigation-divider-item {
            display: flex;
            flex: 1 1 auto;
        }

        /* Divider */
        gts-horizontal-navigation-divider-item {
            margin: 8px -16px;

            .gts-horizontal-navigation-item-wrapper {
                height: 1px;
                box-shadow: 0 1px 0 0;
            }
        }
    }
}

/* Navigation menu item common */
.gts-horizontal-navigation-menu-item {

    /* Basic - When item active (current link) */
    gts-horizontal-navigation-basic-item {

        .gts-horizontal-navigation-item-active,
        .gts-horizontal-navigation-item-active-forced {

            .gts-horizontal-navigation-item-title {
                @apply text-primary #{'!important'};
            }

            .gts-horizontal-navigation-item-subtitle {
                @apply text-primary-400 #{'!important'};

                .dark & {
                    @apply text-primary-600 #{'!important'};
                }
            }

            .gts-horizontal-navigation-item-icon {
                @apply text-primary #{'!important'};
            }
        }
    }

    .gts-horizontal-navigation-item-wrapper {
        width: 100%;

        &.gts-horizontal-navigation-item-has-subtitle {

            .gts-horizontal-navigation-item {
                min-height: 56px;
            }
        }

        .gts-horizontal-navigation-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 48px;
            width: 100%;
            font-size: 13px;
            font-weight: 500;
            text-decoration: none;

            .gts-horizontal-navigation-item-title-wrapper {

                .gts-horizontal-navigation-item-subtitle {
                    font-size: 12px;
                }
            }

            .gts-horizontal-navigation-item-badge {
                margin-left: auto;

                .gts-horizontal-navigation-item-badge-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: 600;
                    white-space: nowrap;
                    height: 20px;
                }
            }
        }
    }
}
