services:
    client:
        build: client
        container_name: client
        restart: always
        networks:
            - internal_network
        environment:
            - NODE_ENV=production
        volumes:
            - unix_socket:/run
            - static_data:/app/static-root
            - media_data:/app/media-root
            - media_files:/app/media-files
        ports:
            - "4000:80"

    backend:
        build: backend
        container_name: backend
        restart: always
        entrypoint: ./entrypoint.sh
        networks:
            - internal_network
<<<<<<< jeffer
        environment:
            - CSRF_TRUSTED_ORIGINS=https://bmms.giantcld.com
=======
        environment:            
            - DEBUG=FALSE
            - CSRF_TRUSTED_ORIGINS=https://bmms.giantcld.com,
>>>>>>> local
        volumes:
            - unix_socket:/run
            - static_data:/app/static-root
            - media_data:/app/media-root
        depends_on:
            - postgres

    postgres:
        image: bitnami/postgresql:latest
        container_name: postgres
        restart: always
        networks:
            - internal_network
        environment:
            POSTGRESQL_USERNAME: bmms
            POSTGRESQL_PASSWORD: qbZucM8vvGwpfTd
            POSTGRESQL_DATABASE: bmms
        volumes:
            - postgresql_data:/bitnami/postgresql
        ports:
            - 5433:5432
    
    elfinder:
        build: elfinder
        container_name: elfinder
        networks:
            - internal_network
        volumes:
            - media_files:/app/media-files
        # ports:
        #     - "9000:80"

volumes:
    unix_socket:
    static_data:
    media_data:
    media_files:
    postgresql_data:

networks:
    internal_network:
        driver: bridge
