services:
    client:
        build: client
        container_name: client
        networks:
            - internal_network
        environment:
            - API_BASE_URL=http://backend:8000/
        ports:
            - "4000:80"

    backend:
        build: backend
        container_name: backend
        networks:
            - internal_network
        
        # depends_on:
        #     - db

    # db:
    #     image: postgres:17.2
    #     container_name: db

    # nginx:
    #     image: nginx:alpine
    #     container_name: webserver
    #     ports:
    #         - "4000:80"

networks:
    internal_network:
        driver: bridge