services:
    client:
        build: client
        container_name: bmms_client
        restart: always
        networks:
            - internal_network
        environment:
            - NODE_ENV=production
        volumes:
            - static_data:/app/static-root
            - media_data:/app/media-root
            - media_files:/app/media-files
        ports:
            - "4000:80"

    backend:
        build: backend
        container_name: bmms_backend
        restart: always
        entrypoint: ./entrypoint.sh
        networks:
            - internal_network
        environment:
            - DEBUG=FALSE
            - CSRF_TRUSTED_ORIGINS=https://bmms.gtsoftec.com
            - POSTGRESQL_USERNAME=bmms
            - POSTGRESQL_PASSWORD=qbZucM8vvGwpfTd
            - POSTGRESQL_DATABASE=bmms
            - HOST=postgres
            - PORT=5432
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock # docker.from_env() 
            - static_data:/app/static-root
            - media_data:/app/media-root
            - ./backend/media-root/backups:/app/media-root/backups
        depends_on:
            - postgres
        ports:
            - "8100:80"

    redis:
        image: redis:latest
        container_name: bmms_redis
        restart: always
        networks:
            - internal_network
        ports:
            - "6379:6379"

    postgres:
        image: bitnami/postgresql:latest
        container_name: bmms_postgres
        restart: always
        networks:
            - internal_network
        environment:
            POSTGRESQL_USERNAME: bmms
            POSTGRESQL_PASSWORD: qbZucM8vvGwpfTd
            POSTGRESQL_DATABASE: bmms
        volumes:
            - ./db:/docker-entrypoint-initdb.d
            - postgresql_data:/bitnami/postgresql
            - ./backend/media-root/backups:/backups # 備份目錄
        ports:
            - 5439:5432

    elfinder:
        build: elfinder
        container_name: elfinder
        restart: always
        networks:
            - internal_network
        volumes:
            - media_files:/app/media-files
        # ports:
        #     - "9000:80"

volumes:
    static_data:
    media_data:
    media_files:
    postgresql_data:

networks:
    internal_network:
        driver: bridge
