services:
    client:
        build: client
        container_name: bmms_client
        restart: always
        networks:
            - internal_network
        environment:
            - NODE_ENV=production
            - TZ=Asia/Taipei
        volumes:
            - static_data:/app/static-root
            - media_data:/app/media-root
            - media_files:/app/media-files
        ports:
            - "4000:80"

    backend:
        build: backend
        container_name: bmms_backend
        restart: always
        entrypoint: ./entrypoint.sh
        networks:
            - internal_network
        environment:
            - DEBUG=FALSE
            - CSRF_TRUSTED_ORIGINS=https://bmms.gtsoftec.com
            - POSTGRESQL_USERNAME=bmms
            - POSTGRESQL_PASSWORD=qbZucM8vvGwpfTd
            - POSTGRESQL_DATABASE=bmms
            - HOST=postgres
            - PORT=5432
            - TZ=Asia/Taipei
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - static_data:/app/static-root
            - media_data:/app/media-root
            - ./backend/media-root/backups:/app/media-root/backups
        depends_on:
            - postgres
        ports:
            - "8100:80"

    celery:
        build: backend
        container_name: bmms_celery
        restart: always
        command: celery -A tx_bmms worker --loglevel=info --events
        networks:
            - internal_network
        environment:
            - DEBUG=FALSE
            - POSTGRESQL_USERNAME=bmms
            - POSTGRESQL_PASSWORD=qbZucM8vvGwpfTd
            - POSTGRESQL_DATABASE=bmms
            - HOST=postgres
            - PORT=5432
            - TZ=Asia/Taipei
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - static_data:/app/static-root
            - media_data:/app/media-root
            - ./backend/media-root/backups:/app/media-root/backups
        depends_on:
            - redis
            - postgres

    redis:
        image: redis:latest
        container_name: bmms_redis
        restart: always
        networks:
            - internal_network
        environment:
            - TZ=Asia/Taipei
        ports:
            - "6379:6379"

    postgres:
        image: bitnami/postgresql:latest
        container_name: bmms_postgres
        restart: always
        networks:
            - internal_network
        environment:
            - POSTGRESQL_USERNAME=bmms
            - POSTGRESQL_PASSWORD=qbZucM8vvGwpfTd
            - POSTGRESQL_DATABASE=bmms
            - TZ=Asia/Taipei
        volumes:
            - ./db:/docker-entrypoint-initdb.d
            - postgresql_data:/bitnami/postgresql
            - ./backend/media-root/backups:/backups
        ports:
            - 5439:5432

    elfinder:
        build: elfinder
        container_name: bmms_elfinder
        restart: always
        networks:
            - internal_network
        environment:
            - TZ=Asia/Taipei
            - DJANGO_SECRET_KEY=django-insecure-=qxo)i^(3nhpn@=dfdfw^$du=jiayia=955h4gjnqj59do=#bu
            - CORS_ALLOWED_ORIGINS=https://bmms.gtsoftec.com
        volumes:
            - media_files:/app/media-files

    flower:
        build: backend
        container_name: bmms_flower
        restart: always
        networks:
            - internal_network
        command: >
            celery -A tx_bmms flower --port=5555 --broker=redis://bmms_redis:6379/0 --persistent=True --db=/app/flower.db
        environment:
            - DEBUG=FALSE
            - TZ=Asia/Taipei
        depends_on:
            - redis
            - celery
        ports:
            - "5555:5555"
        volumes:
            - flower_data:/app

volumes:
    static_data:
    media_data:
    media_files:
    postgresql_data:
    flower_data:

networks:
    internal_network:
        driver: bridge
