[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-auto-prefetching = "*"
drf-spectacular = "*"
channels = {extras = ["daphne"], version = "*"}
django-mptt = "*"
pyjwt = "*"
gunicorn = "*"
pandas = "*"
requests = "*"
celery = "*"
redis = "*"
channels-redis = "*"
django-admin-interface = "*"
cryptography = "*"
docker = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
