-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
attrs==24.2.0; python_version >= '3.7'
autobahn==24.4.2; python_version >= '3.9'
automat==24.8.1; python_version >= '3.8'
cffi==1.17.1; python_version >= '3.8'
channels[daphne]==4.2.0; python_version >= '3.8'
constantly==23.10.4; python_version >= '3.8'
cryptography==44.0.0; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
daphne==4.1.2; python_version >= '3.8'
django==5.1.3; python_version >= '3.10'
django-admin-interface==0.29.2
django-auto-prefetching==0.2.12; python_version >= '3.6'
django-colorfield==0.11.0
django-cors-headers==4.6.0; python_version >= '3.9'
django-filter==24.3; python_version >= '3.8'
django-js-asset==2.2.0; python_version >= '3.8'
django-mptt==0.16.0; python_version >= '3.9'
djangorestframework==3.15.2; python_version >= '3.8'
djangorestframework-simplejwt==5.3.1; python_version >= '3.8'
drf-spectacular==0.28.0; python_version >= '3.7'
gunicorn==23.0.0; python_version >= '3.7'
hyperlink==21.0.0
idna==3.10; python_version >= '3.6'
incremental==24.7.2; python_version >= '3.8'
inflection==0.5.1; python_version >= '3.5'
jsonschema==4.23.0; python_version >= '3.8'
jsonschema-specifications==2024.10.1; python_version >= '3.9'
markdown==3.7; python_version >= '3.8'
packaging==24.2; python_version >= '3.8'
pillow==11.0.0; python_version >= '3.9'
psycopg2-binary==2.9.10; python_version >= '3.8'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.1; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pyjwt==2.10.1; python_version >= '3.9'
pyopenssl==24.3.0; python_version >= '3.7'
python-slugify==8.0.4; python_version >= '3.7'
pyyaml==6.0.2; python_version >= '3.8'
referencing==0.35.1; python_version >= '3.8'
rpds-py==0.21.0; python_version >= '3.9'
service-identity==24.2.0; python_version >= '3.8'
setuptools==75.6.0; python_version >= '3.9'
sqlparse==0.5.2; python_version >= '3.8'
text-unidecode==1.3
twisted[tls]==24.10.0; python_full_version >= '3.8.0'
txaio==23.1.1; python_version >= '3.7'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.2; python_version >= '2'
uritemplate==4.1.1; python_version >= '3.6'
zope-interface==7.2; python_version >= '3.8'
