<div class="flex flex-col flex-auto md:w-160 md:min-w-160 ">
    <!-- Title -->

    <div class="mb-5 text-2xl font-extrabold tracking-tight">選取模型檢索條件</div>

        <form>
            <mat-form-field class="floor-list">
            <mat-label>選取樓層名稱</mat-label>
            <mat-chip-grid #chipfloorGrid aria-label="Floor selection">
                @for (floor of floors; track floor) {
                <mat-chip-row (removed)="removefloor(floor)">
                    {{floor}}
                    <button matChipRemove [attr.aria-label]="'remove ' + floor">
                    <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
            <input placeholder="選取樓層..." #floorInput [formControl]="floorCtrl"
                [matChipInputFor]="chipfloorGrid" [matAutocomplete]="autofloor"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addfloor($event)"/>
            <mat-autocomplete #autofloor="matAutocomplete" (optionSelected)="selectedfloor($event)">
                @for (floor of filteredFloors | async; track floor) {
                <mat-option [value]="floor">{{floor}}</mat-option>
                }
            </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="space-list">
                <mat-label>選取空間名稱</mat-label>
                <mat-chip-grid #chipspaceGrid aria-label="Space selection">
                    @for (space of spaces; track space) {
                    <mat-chip-row (removed)="removespace(space)">
                        {{space}}
                        <button matChipRemove [attr.aria-label]="'remove ' + space">
                        <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                </mat-chip-grid>
                <input placeholder="選取空間..." #spaceInput [formControl]="spaceCtrl"
                    [matChipInputFor]="chipspaceGrid" [matAutocomplete]="autospace"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addspace($event)"/>
                <mat-autocomplete #autospace="matAutocomplete" (optionSelected)="selectedspace($event)">
                    @for (space of filteredSpaces | async; track space) {
                    <mat-option [value]="space">{{space}}</mat-option>
                    }
                </mat-autocomplete>
                </mat-form-field>
            <mat-form-field class="category-list">
                <mat-label>選取設備類別</mat-label>
                <mat-chip-grid #chipcategoryGrid aria-label="Category selection">
                    @for (category of categorys; track category) {
                    <mat-chip-row (removed)="removecategory(category)">
                        {{category}}
                        <button matChipRemove [attr.aria-label]="'remove ' + category">
                        <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                </mat-chip-grid>
                <input placeholder="選取設備類別..." #categoryInput [formControl]="categoryCtrl"
                    [matChipInputFor]="chipcategoryGrid" [matAutocomplete]="autocategory"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addcategory($event)"/>
                <mat-autocomplete #autocategory="matAutocomplete" (optionSelected)="selectedcategory($event)">
                    @for (category of filteredCategorys | async; track category) {
                    <mat-option [value]="category">{{category}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="equipment-list">
                <mat-label>選取設備名稱</mat-label>
                <mat-chip-grid #chipequipmentGrid aria-label="Equipment selection">
                    @for (equipment of equipments; track equipment) {
                    <mat-chip-row (removed)="removeequipment(equipment)">
                        {{equipment}}
                        <button matChipRemove [attr.aria-label]="'remove ' + equipment">
                        <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                </mat-chip-grid>
                <input placeholder="選取設備名稱..." #equipmentInput [formControl]="equipmentCtrl"
                    [matChipInputFor]="chipequipmentGrid" [matAutocomplete]="autoequipment"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addequipment($event)"/>
                <mat-autocomplete #autoequipment="matAutocomplete" (optionSelected)="selectedequipment($event)">
                    @for (equipment of filteredEquipments | async; track equipment) {
                    <mat-option [value]="equipment">{{equipment}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </form>
    <div class="flex items-center justify-between mt-4">
        <div >
            
        </div>
        <div class="flex items-center space-x-2">
            <button mat-flat-button class="bg-red-700" matDialogClose>進行篩選</button>
            <button mat-flat-button class="bg-green-700">清除篩選條件</button>
            <!-- <button mat-flat-button>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                <span class="ml-2">Close</span>
            </button> -->
        </div>


    </div>
</div>