<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden h-full">
    <mat-drawer-container class="flex-auto dark:bg-transparent" (backdropClick)="onCloseDrawer()">
        <mat-drawer class="w-full dark:bg-gray-900 sm:w-120" [mode]="drawerMode" [opened]="false" [position]="'end'" [disableClose]="true" #matDrawer>
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </mat-drawer>

        <mat-drawer-content>
            <div class="flex flex-auto flex-col h-full bg-white dark:bg-gray-900 p-6" *transloco="let t">

                <!-- Header -->
                <div class="flex flex-row items-center justify-between px-6 py-8 md:px-8">
                    <!-- Title -->
                    <div class="text-3xl font-extrabold leading-none tracking-tight">
                        {{t('users')}}
                    </div>

                    <!-- Actions -->
                    <div>
                        <button mat-stroked-button (click)="onOpenDrawer()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                            <span class="ml-2 mr-1">{{t('create')}} {{t('user')}}</span>
                        </button>
                    </div>

                </div>

                <!-- Content -->
                <div class="flex h-full overflow-y-auto bg-card rounded-md">
                    @if(page.data){
                    <p-table class="w-full" [value]="page.data" [scrollable]="true" scrollHeight="flex" [styleClass]="'p-datatable-lg'" selectionMode="single"
                        [metaKeySelection]="true" (onRowSelect)="onOpenDrawer($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="pl-8 py-4">{{t('email')}}</th>
                                <th>{{t('name')}}</th>
                                <th>{{t('auth-permission')}}</th>
                                <th>{{t('last-login')}}</th>
                                <th>{{t('date-joined')}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-d>
                            <tr [pSelectableRow]="d" class="hover:bg-hover">
                                <td class="pl-8">{{ d.email }}</td>
                                <td>{{ d.username }}</td>
                                <td>{{ d.groups_obj | gtsMapByName }}</td>
                                <td>{{ d.last_login | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
                                <td>{{ d.date_joined | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    }
                    @else {
                    <div class="flex flex-auto flex-col items-center justify-center text-secondary mb-10">
                        <mat-icon class="icon-size-16" [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                        <div class="mt-4 text-xl font-semibold tracking-tight">
                            {{t('no-data-found')}}
                        </div>
                    </div>
                    }
                </div>
            </div>
        </mat-drawer-content>

    </mat-drawer-container>
</div>

<ng-template #content>
    <div class="flex flex-auto h-full" *transloco="let t">
        <div class="flex flex-auto flex-col overflow-y-auto">
            <!-- Header -->
            <div class="flex items-center justify-between px-6 py-3">
                <mat-icon [svgIcon]="'heroicons_outline:window'"></mat-icon>
                <span class="text-xl">
                    @if(page.record?.id){ {{ t('edit') }} {{ t('users') }} }
                    @else{ {{ t('create') }} {{ t('users') }} }
                </span>

                <div class="flex">
                    <!-- Close button -->
                    <button type="button" mat-icon-button (click)="onCloseDrawer()">
                        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </button>
                </div>
            </div>

            <mat-divider></mat-divider>

            <form [formGroup]="form" class="p-8" #ngForm="ngForm">

                <!-- Email -->
                <div class="mt-2">
                    <mat-form-field class="w-full gts-mat-dense">
                        <mat-label>{{ t('email') }}</mat-label>
                        <input matInput [formControlName]="'email'" [readonly]="page?.record?.id">
                        @if(form.get('email').hasError('required')) {<mat-error> {{t('email')}}{{t('is-required')}} </mat-error>}
                        @if(form.get('email').hasError('email')){<mat-error>{{t('worng-email-format')}}</mat-error>}
                    </mat-form-field>
                </div>

                <!-- Name -->
                <div class="mt-2">
                    <mat-form-field class="flex-auto w-full gts-mat-dense">
                        <mat-label>{{ t('name') }}</mat-label>
                        <!-- <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_outline:user'"></mat-icon> -->
                        <input matInput [formControlName]="'username'" [spellcheck]="false">
                        @if(form.get('username').hasError('required')) {<mat-error> {{t('name')}}{{t('is-required')}} </mat-error>}
                    </mat-form-field>
                </div>

                <!-- Groups -->
                <div class="mt-2">
                    <label class="pb-1 block"> {{t('auth-permission')}} </label>
                    <p-multiSelect name="parameter" styleClass="w-full" [options]="page.groupData" formControlName="groups_obj" optionLabel="name"
                        display="chip" [filter]="false" [showToggleAll]="false" placeholder="--" [showClear]="true" />
                </div>

                <!-- Superuser -->
                <!-- <div class="mt-2 inline-flex w-full items-center justify-between">
                    <mat-checkbox class="-ml-2" [formControlName]="'is_superuser'">
                        {{t('system-administrator')}} ({{t('backend-management-permissions')}})
                    </mat-checkbox>
                </div> -->

                <!-- Password -->
                <div class="mt-8">
                    <div class="flex">
                        <mat-form-field class="flex-1 gts-mat-dense">
                            <mat-label>{{ t('password') }}</mat-label>
                            <input type="password" matInput [formControlName]="'password'" autocomplete="password">
                            @if(form.get('password').hasError('required')){<mat-error> {{t('password')}}{{t('is-required')}} </mat-error>}
                        </mat-form-field>
                        <mat-form-field class="flex-1 w-full ml-2 sm:ml-4 gts-mat-dense">
                            <mat-label>{{ t('password') }} ({{ t('confirm') }})</mat-label>
                            <input type="password" matInput [formControlName]="'password2'" autocomplete="password">
                            @if(form.get('password2').hasError('required')){<mat-error> {{t('password')}}{{ t('confirm') }}{{t('is-required')}} </mat-error>}
                            @if(form.get('password2').hasError('mustMatch')){<mat-error> {{t('passwords-must-match')}} </mat-error>}
                        </mat-form-field>
                    </div>
                </div>

                <!-- Edit Actions -->
                <div class="flex items-center justify-between mt-4 mb-2">
                    @if(isLoading){
                    <mat-progress-spinner class="mx-auto" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }

                    @else{
                    <!-- Delete -->
                    <div class="flex items-center space-x-2">
                        @if(page?.record?.id){
                        <button [color]="'warn'" mat-flat-button (click)="onDelete()">
                            <mat-icon class="pr-2" [svgIcon]="'heroicons_outline:trash'"></mat-icon>{{ t('delete') }}
                        </button>
                        }
                    </div>

                    <!-- Save -->
                    <div>
                        <button mat-flat-button [color]="'primary'" class="mr-2" (click)="onSave()">
                            <mat-icon class="pr-2" [svgIcon]="'heroicons_outline:bookmark-square'"></mat-icon>{{ t('save') }}
                        </button>
                        <!-- <button type="button" mat-flat-button (click)="onClose()">
                            <mat-icon class="pr-2" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>{{ t('close') }}
                        </button> -->
                    </div>
                    }
                </div>


            </form>

        </div>
    </div>
</ng-template>