<div class="flex-auto bg-card rounded-lg">
    <div class="ml-10 mr-6 mt-2 pt-6 flex flex-auto flex-col result-table initial-height">
        <p-table [value]="objects" [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" scrollHeight="100%">

            <ng-template pTemplate="header">
                <tr>
                    <th class="min-w-15 text-center">序號</th>
                    <th class="min-w-80">檔案名稱</th>
                    <th class="min-w-60 text-center">處理狀態</th>
                    <th class="min-w-60 text-center">處理進度</th>
                    <th class="min-w-60 text-center">執行轉換</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-object let-no="rowIndex">
                <tr>
                    <td class="text-center">{{no+1}}</td>
                    <td>{{object.objectKey}}</td>
                    <td class="text-center">
                        @if(object.status==='success'){<i class="pi text-green-400 pi-check-circle"></i>}
                        @else if(object.status==='failed'){<i class="pi text-red-500 pi-times-circle"></i>}
                        @else{{{object.status}}}
                        <!-- <span [ngClass]="{'dark:text-warn': object.status === 'failed','dark:text-accent':object.status==='success'}">{{ object.status }}</span> -->
                    </td>
                    <td class="text-center">
                        <span [ngClass]="{'text-red-500': object.status === 'failed','text-green-400':object.status==='success'}">{{ object.progress }}</span>
                    </td>
                    <td class="text-center ">

                        <button class="fuse-alert-dismiss-button" mat-icon-button (click)="onTranslateJob(object)"
                            [disabled]="object.status!=='success' && object.status!=='failed' && object.status">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-path-rounded-square'"></mat-icon>
                        </button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>

<!-- <div class="flex-auto">
    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8"></div>
    <div class="relative">
        <table class="default-item-table">
            <thead>
                <tr>
                    <th class="w-20">NO</th>
                    <th>Object Key</th>
                    <th class="w-36">Status</th>
                    <th class="w-36">Progress</th>
                    <th class="w-36">Action</th>
                </tr>
            </thead>

            <tbody *ngIf="objects">
                @for (object of objects; track trackByFn;let no=$index) {
                <tr>
                    <td class="text-center">{{no+1}}</td>
                    <td class="px-3">{{object.objectKey}}</td>
                    <td class="text-center text-green-700">
                        <span [ngClass]="{'text-warn': object.status === 'failed','text-accent':object.status==='success'}">{{ object.status }}</span>
                    </td>
                    <td class="text-center text-green-700">
                        <span [ngClass]="{'text-warn': object.status === 'failed','text-accent':object.status==='success'}">{{ object.progress }}</span>
                    </td>
                    <td class="text-center ">
                        @if(object.refresh){
                        <button mat-icon-button class="underline" color="primary" (click)="onRefreshObject(object)">
                            <mat-icon [svgIcon]="'mat_solid:refresh'"></mat-icon>
                        </button>
                        }
                        @else if(object.status==='success'){
                        <button mat-button class="text-primary-600" disabled>
                            <mat-icon color="primary" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        </button>
                        <div class="flex items-center justify-center h-10">
                            <mat-icon color="accent" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        </div>
                        }
                        @else{
                        <button mat-button class="underline" color="primary" [disabled]="object.status && object.status!=='failed'"
                            (click)="onTranslateJob(object)">translate</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div> -->