<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" [hasBackdrop]="false">

        <mat-drawer class="w-full md:w-360 dark:bg-gray-900" [mode]="'over'" [opened]="false" [position]="'end'" [disableClose]="true" #matDrawer>
            <div class="relative w-full px-2">
                <!-- Close button -->
                <div class="flex items-center justify-end w-full mx-auto pt-6">
                    <a mat-icon-button (click)="close()">
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </a>
                </div>
            </div>


            <div class="rounded-xl overflow-hidden">

                <div class="flex flex-col flex-auto h-180">
                    <div class="relative w-full h-full">

                        <div id="viewer"></div>
                    </div>

                </div>
            </div>


        </mat-drawer>


        <mat-drawer-content class="flex flex-col">
            <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent" *transloco="let t">
                <!-- Header -->
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Loader -->
                    <div class="absolute inset-x-0 bottom-0" *ngIf="false">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight">{{t('bim-information-listing')}}</div>
                    <!-- Actions -->
                    <div class="flex shrink-0 mt-6 sm:mt-0 sm:ml-4">
                        <!-- Search -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded sm:min-w-72" [subscriptSizing]="'dynamic'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                            <input matInput [autocomplete]="'off'" [placeholder]="t('search-keyword')">
                        </mat-form-field>
                        <!-- Add product button -->

                        <button class="ml-4 bg-accent" mat-flat-button [color]="'accent'" (click)="advanceSearch()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:adjustments-horizontal'"></mat-icon>
                            <span class="ml-2">{{t('advanced-search')}}</span>
                        </button>

                        <button class="ml-4 bg-accent" mat-flat-button [color]="'accent'" (click)="chipSearch()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:adjustments-horizontal'"></mat-icon>
                            <span class="ml-2">{{t('advanced-search')}}II</span>
                        </button>
                    </div>
                </div>

                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">

                    <!-- Search Result -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="(products$ | async) as products">

                            <ng-container *ngIf="products.length > 0; else noProducts">
                                <div class="grid">
                                    <!-- Header -->
                                    <div class="table-grid z-10 sticky top-0 grid gap-4 py-2 px-2 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-card"
                                        matSort matSortDisableClear>
                                        <div></div>
                                        <div [mat-sort-header]="'sku'">標別</div>
                                        <div class="hidden md:block" [mat-sort-header]="'name'">圖模名稱</div>
                                        <div [mat-sort-header]="'category'">類別</div>
                                        <div class="hidden sm:block" [mat-sort-header]="'barcode'">容量</div>
                                        <div class="hidden sm:block" [mat-sort-header]="'vendor'">負責廠商</div>
                                        <div class="hidden sm:block" [mat-sort-header]="'brand'">匯入日期</div>

                                    </div>

                                    <!-- Rows -->
                                    <ng-container *ngIf="(products$ | async) as products">
                                        <ng-container *ngFor="let product of products; trackBy: trackByFn">
                                            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                <!-- Details button -->
                                                <div>
                                                    <mat-checkbox class="flex items-center max-w-10 pl-1 pr-4" [color]="'primary'"
                                                        (change)="toggle(product, $event)">

                                                    </mat-checkbox>

                                                </div>
                                                <div class="hidden md:block truncate">
                                                    {{product.sku}}
                                                </div>
                                                <!-- Name -->
                                                <div class="truncate">
                                                    {{product.name}}
                                                </div>
                                                <!-- Category -->
                                                <div class="hidden sm:block">
                                                    {{product.category}}
                                                </div>
                                                <!-- Barcode -->
                                                <div class="hidden sm:block">
                                                    {{product.barcode}}
                                                </div>
                                                <!-- Vendor -->
                                                <div class="hidden sm:block">
                                                    {{product.vendor}}
                                                </div>
                                                <!-- Brand -->
                                                <div class="hidden sm:block">
                                                    {{product.brand}}
                                                </div>
                                                <!-- Price -->

                                            </div>

                                        </ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </mat-drawer-content>

    </mat-drawer-container>

</div>