<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden h-full" *transloco="let t">
    <div class="mx-auto flex w-full h-full flex-wrap p-6">
        <div class="flex flex-auto flex-col h-full sm:col-span-2 lg:col-span-3">

            <!-- Header -->
            <div class="flex flex-row items-center justify-between pt-6 pb-2">

                <div></div>

                <!-- Aggregated -->
                <div class="flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button mat-flat-button (click)="onClickAggregated()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:rectangle-group'"></mat-icon>
                        <span class="ml-2">{{t('bim-aggregated')}}</span>
                    </button>                  
                </div>
            </div>

            <!-- Content -->
            <div class="flex h-full overflow-y-auto bg-card rounded-md">                
                <p-table class="w-full" [value]="data" [scrollable]="true" scrollHeight="flex" [styleClass]="'p-datatable-lg'" [size]="'small'"
                    rowGroupMode="subheader" groupRowsBy="tender" [(selection)]="selectedItems">

                    <ng-template pTemplate="header">
                        <tr class="border-b-2">
                            <th class="w-20"></th>
                            <th class="min-w-20 py-4">{{t('file-label')}}</th>
                            <th>{{t('upload-time')}}</th>
                            <th>{{t('uploader')}}</th>
                            <th class="text-center">{{t('download-cobie-csv')}}</th>
                            <th class="text-center">{{t('download-bim-source')}}</th>
                            <th class="text-center">{{t('previous-backup-version')}}</th>
                            <th class="text-center">{{t('restore-previous-version')}}</th>
                        </tr>
                    </ng-template>

                    <ng-template #groupheader let-item let-index="rowIndex" let-expanded="expanded">
                        <tr>
                            <td colspan="8">
                                <span class="flex items-center">
                                    <button pButton pRipple [pRowToggler]="item" text rounded plain class="mr-2 w-8 h-8 text-default bg-transparent"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                                    </button>
                                    <!-- <p-tableHeaderCheckbox /> -->
                                    <span class="ml-2">{{item.tender}}</span>
                                </span>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template #expandedrow let-item>
                        <tr class="hover:bg-hover">
                            <td class="pl-12">
                                <p-tableCheckbox [value]="item" />
                            </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>{{item.uploader?.username }}</td>
                            <td class="text-center">
                                <button class="cursor-pointer" (click)="onDownloadCsv()">
                                    <mat-icon class="mt-1" [svgIcon]="'heroicons_outline:file-csv'"></mat-icon>
                                </button>
                            </td>
                            <td class="text-center">
                                <button (click)="onDownloadBim()">
                                    <mat-icon class="mt-1" [svgIcon]="'heroicons_outline:document'"></mat-icon>
                                </button>
                            </td>
                            <td class="text-center">{{item.version}}</td>
                            <td class="text-center">
                                <button mat-icon-button matSuffix (click)="onSearch()">
                                    <mat-icon [svgIcon]="'mat_outline:history'"></mat-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="9" class="text-center border-0">
                                <div class="flex flex-auto flex-col items-center justify-center h-140">
                                    <mat-icon class="icon-size-12" [svgIcon]="'heroicons_outline:ellipsis-horizontal-circle'"></mat-icon>
                                    <div class="text-secondary mt-4 font-semibold tracking-tight">
                                        {{t('no-data')}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>
    </div>