<div class="absolute inset-0 flex w-full flex-auto flex-col overflow-auto" *transloco="let t">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        <!-- <div class="flex w-full items-center justify-between">

            <div class="text-3xl font-semibold leading-8 tracking-tight">
                {{t('bim-model-viewer')}}
            </div>
            <div class="text-secondary font-medium tracking-tight">
                Monitor metrics, check reports and review performance
            </div>
        </div> -->

        <div class="mt-1 grid w-full grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-xl shadow sm:col-span-2 lg:col-span-3">

                <!-- Search -->
                <div class="ml-10 mr-6 mt-6 flex items-center justify-between sm:mr-10">
                    <div class="flex flex-col">
                        <mat-form-field class="w-full sm:w-72 mt-2 sm:mt-0 fuse-mat-dense">
                            <input matInput [placeholder]="t('search-bim-name')" [(ngModel)]="searchBinName" />

                            <button mat-icon-button matSuffix (click)="onSearch()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>

                <div class="ml-10 mr-6 mt-2 flex flex-auto flex-col result-table initial-height" >
                    <p-table [value]="page.data" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="9" [scrollable]="true" scrollHeight="100%">
                        <ng-template pTemplate="header">
                            <tr>
                                <!-- <th>NO</th> -->
                                <th class="min-w-20">標別/檔案名稱</th>
                                <th>上傳時間</th>
                                <th>上傳者</th>
                                <th class="text-center">下載COBie CSV</th>
                                <th class="text-center">下載BIM原始檔</th>
                                <th>前次備份版本</th>
                                <th class="text-center">還原前次版本</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-no="rowIndex">
                            <tr>
                                <!-- <td>{{no+1}}</td> -->
                                <td><span class="hover:cursor-pointer hover:text-slate-500" (click)="onModelDialog(item)">{{ item.name }}</span></td>
                                <td>{{item.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{item.uploader?.username}}</td>
                                <td class="text-center">
                                    <button mat-icon-button matSuffix (click)="onSearch()">
                                        <mat-icon [svgIcon]="'heroicons_outline:file-csv'"></mat-icon>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button mat-icon-button matSuffix (click)="onSearch()">
                                        <mat-icon [svgIcon]="'mat_outline:description'"></mat-icon>
                                    </button>
                                </td>
                                <td>{{item.previousAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td class="text-center">
                                    <button mat-icon-button matSuffix (click)="onSearch()">
                                        <mat-icon [svgIcon]="'mat_outline:history'"></mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>


                </div>
            </div>
        </div>
    </div>