.result-table {
    .p-datatable {
        .p-datatable-thead {
            @apply bg-card;
            >tr {
                @apply border-b;

                >th {
                    @apply bg-card;
                }
            }
        }

        .p-datatable-tbody {
            >tr {
                 @apply bg-card;

                >td {
                    @apply border-b;
                }
            }
        }
    }
}

.p-paginator {
    @apply bg-card;
}

.initial-height{
    height: calc(100vh - 17rem);
}

.mat-mdc-dialog-surface {
    @apply p-0 #{'!important'};    
}
