<div class="w-full">

    <!-- Result table -->
    <div class="grid grid-cols-1 gap-8 w-full mt-6" *transloco="let t">
        <div class="flex flex-col flex-auto ">
            <div class="ml-60 mt-5">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="exportMenu"
                >
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_mini:arrow-down-tray'"
                    ></mat-icon>
                </button>
                <mat-menu #exportMenu="matMenu">
                    <button mat-menu-item>
                        <span class="flex items-center">
                            <mat-icon
                                class="mr-3 icon-size-5"
                                [svgIcon]="'heroicons_outline:file-csv'"
                            ></mat-icon>
                            <span>匯出 CSV 檔案</span>
                        </span>
                    </button>
                    <button mat-menu-item>
                        <span class="flex items-center">
                            <mat-icon
                                class="mr-3 icon-size-5"
                                [svgIcon]="'heroicons_solid:document-text'"
                            ></mat-icon>
                            <span>匯出 TXT 檔</span>
                        </span>
                    </button>
                </mat-menu>
            </div>
            <div class="ml-3 -mt-7 text-secondary font-medium text-lg">查詢結果 : 全部 56 筆資料 </div>
            <!-- Result table -->
            <div class="mt-3  overflow-x-auto mx-10 result-table bg-card rounded-xl ">
                <p-table [value]="log" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="15">
                    <ng-template pTemplate="header">
                        <tr class="w-full text-center border-b-2">
                            <!-- <th>載入模型</th> -->
                            <th>使用者帳號</th>
                            <th>系統功能名稱</th>
                            <th>執行動作</th>
                            <th>執行時間</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-log>
                        <tr>
                            <!-- <td class="w-24 text-center"> 
                                <input type="checkbox" [(ngModel)]="product.selected" (change)="onProductSelected(product)" />
                            </td> -->
                            <td>{{ log.username }}</td>
                            <td>{{ log.function }}</td>
                            <td>{{ log.action }}</td>
                            <td>{{ log.time }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>