<div class="flex flex-col flex-auto md:w-160 md:min-w-160 ">
    <!-- Title -->

    <div class="text-2xl font-extrabold tracking-tight">選取模型檢索條件</div>

    <form class="flex flex-col w-full">
        <div class="flex flex-col sm:flex-row py-4">

            <div class="flex flex-auto flex-wrap">

                <!-- Name -->
                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>專案名稱(選填)</mat-label>
                    <mat-select>
                        <ng-container *ngFor="let category of categories">
                            <mat-option [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <!-- Name -->
                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>機別代碼(選填)</mat-label>
                    <mat-select>
                        <ng-container *ngFor="let category of categories2">
                            <mat-option [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <div class="flex w-full">
                    <mat-form-field class="w-1/2 pr-2 fuse-mat-dense">
                        <mat-label>樓層名稱*</mat-label>
                        <mat-select>
                            <ng-container *ngFor="let category of categories3">
                                <mat-option [value]="category.id">
                                    {{category.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 pr-2 fuse-mat-dense">
                        <mat-label>構件類別名稱</mat-label>
                        <mat-select>
                            <ng-container *ngFor="let category of categories4">
                                <mat-option [value]="category.id">
                                    {{category.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>構件名稱</mat-label>
                    <input matInput>
                </mat-form-field>

            </div>


        </div>
    </form>

    <div class="flex items-center justify-between mt-4">
        <div >
            
        </div>
        <div class="flex items-center space-x-2">
            <button mat-flat-button class="bg-red-700" matDialogClose>進行篩選</button>
            <button mat-flat-button class="bg-green-700">清除篩選條件</button>
            <!-- <button mat-flat-button>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                <span class="ml-2">Close</span>
            </button> -->
        </div>


    </div>
</div>