<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden h-full" *transloco="let t">
    <div class="mx-auto flex w-full h-full flex-wrap p-6">
        <div class="flex flex-auto flex-col h-full sm:col-span-2 lg:col-span-3">

            <!-- Breadcrumb -->
            <div class="pt-4 pb-2 text-default">
                <p-breadcrumb [model]="breadcrumbItems" [home]="homeBreadcrumbItem" styleClass="bg-transparent border-none"></p-breadcrumb>
            </div>

            <!-- Header -->
            <div class="flex flex-row items-center justify-between pt-6 pb-2">
                <!-- Title -->
                <div class="text-3xl font-extrabold leading-none tracking-tight">
                    <!-- {{t('bim-data-import')}} -->
                </div>

                <!-- Actions -->
                <div class="flex gap-2">
                    <input #fileInput class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file" [multiple]="true"
                        (change)="onFileSelected($event)">
                    <button mat-flat-button (click)="triggerFileInput()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:folder-open'"></mat-icon>
                        <span class="ml-2">{{t('select-file')}}</span>
                    </button>
                    <button mat-flat-button color="warn" (click)="onBatchDelete()" [disabled]="selectedFiles.length === 0">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span class="ml-2">{{t('batch-delete')}} @if(selectedFiles.length > 0) {({{selectedFiles.length}})}</span>
                    </button>
                </div>
            </div>

            <!-- Content -->
            <div class="flex h-full overflow-y-auto bg-card rounded-md">
                <!-- @if(files?.length>0){ -->
                <p-table #dataTable class="w-full" [value]="files" [(selection)]="selectedFiles" dataKey="name" [scrollable]="true" scrollHeight="flex" [styleClass]="'p-datatable-lg'" [loading]="isLoading">
                    <ng-template pTemplate="header">
                        <tr class="border-b-2">
                            <th class="w-16 py-4 pl-8">
                                <p-checkbox [binary]="true"
                                    [checked]="isAllDeletableFilesSelected()"
                                    (onChange)="toggleSelectAll()" />
                            </th>
                            <th class="w-20 py-4">NO</th>
                            <th class="w-100">{{t('file-name')}}</th>
                            <th class="w-40">{{t('file-size')}}</th>
                            <th class="w-40 text-center">{{t('status')}}</th>
                            <th>{{t('message')}}</th>
                            <th class="w-30 text-center"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-file let-index="rowIndex">
                        <tr (click)="toggleRowSelection(file, $event)" [pSelectableRowDisabled]="!['ready', 'complete', 'error'].includes(file.status)" class="hover:bg-hover cursor-pointer">
                            <td class="pl-8">
                                @if(['ready', 'complete', 'error'].includes(file.status)) {
                                <p-tableCheckbox [value]="file" />
                                }
                            </td>
                            <td>{{index+1}}</td>
                            <td>{{file.name}}</td>
                            <td>{{file.size}}</td>
                            <td class="text-center sm:min-w-52">
                                <!-- {{file.status}} -->
                                <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-bold uppercase tracking-wide" [ngClass]="{
                                    'dark:bg-indigo-600 dark:text-indigo-50-50': file.status !== 'error' && file.status !== 'complete',
                                    'dark:bg-red-600 dark:text-red-50': file.status === 'error',
                                    'dark:bg-green-600 dark:text-green-50': file.status === 'complete'}">
                                    <span class="whitespace-nowrap leading-relaxed">{{ file.status }}</span>
                                </span>
                            </td>
                            <td class="text-sm">{{file.message}}</td>
                            <td class="text-center">
                                @if(['ready'].includes(file.status)){
                                <button mat-icon-button (click)="onBimDataImport(file); $event.stopPropagation()">
                                    <mat-icon [svgIcon]="'heroicons_outline:arrow-up-tray'"></mat-icon>
                                </button>
                                }
                                @else if(['complete'].includes(file.status)){
                                <mat-icon class="text-green-400 m-2" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                }
                                @else {
                                <mat-progress-spinner class="m-3" color="accent" [diameter]="16" [mode]="'indeterminate'"></mat-progress-spinner>
                                }

                                @if(['ready','complete', 'error'].includes(file.status)){
                                <button class="" mat-icon-button (click)="onDelete(file); $event.stopPropagation()">
                                    <mat-icon class="text-red-400" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                                }

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- }
                @else {
                <div class="flex flex-auto flex-col items-center justify-center text-secondary mb-10">
                    <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                    <div class="mt-4 text-2xl font-semibold tracking-tight">
                        {{t('no-data-found')}}
                    </div>
                </div>
                } -->
            </div>

        </div>
    </div>
</div>