/* stepper: disable header navigation */
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    @apply bg-green-700;
 }