<div class="w-full">


    <table class="cust-table">
        <thead>
            <tr>
                <th colspan="13">BMMS 使用者權限管理矩陣</th>
            </tr>
            <tr>         
                <th></th>       
                <th colspan="2">圖資檢索模組</th>
                <th colspan="1">模型檢視模組</th>
                <th colspan="3">模型匯入模組</th>
                <th colspan="3">使用者管理模組</th>
                <th colspan="3">系統管理功能</th>
            </tr>
            <tr>
                <th></th>
                <th class="min-w-24">圖資檢索查詢</th>
                <th class="min-w-24">檢索結果匯出</th>

                <th class="min-w-28">BIM 檢視器操作</th>

                <th class="min-w-24">圖模轉換作業</th>
                <th class="min-w-24">BIM 檔案管理</th>
                <th class="min-w-24">數位化檔案管理</th>

                <th class="min-w-24">帳戶管理</th>
                <th class="min-w-24">職權組別管理</th>
                <th class="min-w-24">紀錄查詢</th>

                <th class="min-w-28">APS帳號及憑證</th>
                <th class="min-w-30">資料庫備份&還原</th>
                <th class="min-w-30">系統歷史紀錄查詢</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center px-2 max-w-80">系統管理員</td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
            </tr>
            <tr>
                <td class="text-center px-2">安控管理人員</td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
            </tr>
            <tr>
                <td class="text-center px-2">圖資管理人員</td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
            </tr>
            <tr>
                <td class="text-center px-2">圖資作業人員</td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
            </tr>
            <tr>
                <td class="text-center px-2">一般查詢使用者</td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
                <td class="edit"><input type="checkbox" class="hover:cursor-pointer"></td>
            </tr>
        </tbody>
    </table>

</div>