<div class="flex flex-col flex-auto w-full bg-gray-50">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{object.name}}</div>
                <div class="font-medium tracking-tight text-secondary">Autodesk Forge Viewer</div>
            </div>
            <div class="flex items-center ml-6">

            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-2">
            <div class="sm:col-span-2 lg:col-span-3  flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <!-- <div class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10">
                    <div class="flex flex-col">
                        <div class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7">BMMS Overview
                        </div>
                        <div class="font-medium text-secondary">Subtitle of BMMS</div>
                    </div>
                    <div class="ml-2">

                        <mat-button-toggle-group class="hidden sm:inline-flex border-none space-x-1" value="this-year"
                            #visitorsYearSelector="matButtonToggleGroup">
                            <mat-button-toggle class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                                value="last-year">Last Year
                            </mat-button-toggle>
                            <mat-button-toggle class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                                value="this-year">This Year
                            </mat-button-toggle>
                        </mat-button-toggle-group>

                    </div>
                </div> -->
                <div class="flex flex-col flex-auto h-180">
                    <div class="relative w-full h-full">
                        <!-- <adsk-forge-viewer [viewerOptions]="viewerOptions3d"
                            (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer> -->
                        <div id="viewer"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div #viewerContainer class="w-full h-full"></div> -->
<!-- <div class="w-full h-full">
    <div class="inline" style="width:100%;height:100%">
        abc
    </div>
</div> -->