<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden h-full" *transloco="let t">

    <div class="flex-auto overflow-y-auto p-6 sm:p-10" cdkScrollable>

        <!-- Advanced search -->
        <div class="flex flex-col bg-card shadow rounded-md mb-4 py-2">
            <div class="flex flex-row items-center justify-between p-4">
                <!-- Header -->
                <div class="mr-4 text-3xl font-medium tracking-tight leading-6 truncate">{{t('advanced-search')}}</div>

                <!-- Search -->
                <div class="flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button mat-flat-button color="warn" (click)="onSearch()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                        <span class="ml-2">{{t('search')}}</span>
                    </button>
                </div>
            </div>
            <app-search-panel [criteria]="criteria" (keywordChange)="onKeywordChange($event)" (categoryChange)="onCategoryChange($event)"></app-search-panel>
        </div>

        <!-- Result table -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-md overflow-y-auto ">

            <div class="flex flex-row items-center justify-start p-4">
                @if(data){
                <div>
                    <div class="text-secondary font-medium text-lg">查詢結果 : 全部 {{data?.count}} 筆資料 </div>
                </div>
                <div class="pl-2">
                    <button mat-icon-button [matMenuTriggerFor]="exportMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:arrow-down-tray'"></mat-icon>
                    </button>
                    <mat-menu #exportMenu="matMenu">
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_outline:file-csv'"></mat-icon>
                                <span>匯出 CSV 檔案</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                                <span>匯出 TXT 檔</span>
                            </span>
                        </button>
                    </mat-menu>
                </div>
                }

                <div class="ml-auto">
                    <!-- View model -->
                    <div class="flex items-center space-x-3 sm:ml-2 sm:mt-0">
                        <button mat-flat-button color="warn" (click)="onClickAggregated()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                            <span class="ml-2">{{t('bim-model-viewer')}}</span>
                        </button>
                    </div>

                </div>
            </div>

            <!-- Result table -->
            <div class="flex h-full">

                <p-table #dataTable class="w-full" [value]="data?.results" [totalRecords]="data?.count" [scrollable]="true" scrollHeight="600px"
                    [styleClass]="'p-datatable-lg'" [rows]="100" [virtualScroll]="true" [virtualScrollItemSize]="46" [lazy]="true"
                    (onLazyLoad)="loadBimObjects($event)" [(selection)]="selectedItems">
                    <ng-template pTemplate="header">
                        <tr class="border-b-2">
                            <th class="w-20 pl-8"></th>
                            <th>NO.</th>
                            <th>{{t('file-label')}}</th>
                            <th>{{t('version')}}</th>
                            <th>{{t('bim-group')}}</th>
                            <th>{{t('bim-category')}}</th>
                            <th>{{t('bim-name')}}</th>
                            <th>DBID</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr class="hover:bg-hover">
                            <td class="pl-8">
                                <p-tableCheckbox [value]="item" />
                            </td>
                            <td>{{ rowIndex+1 }}</td>
                            <td>{{ item.model_name }}</td>
                            <td>{{ item.version }}</td>
                            <td>{{ item.group_name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.value }}</td>
                            <td>{{ item.dbid }}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="loadingbody">
                        <tr style="height: 46px">
                            <td class="pl-8"><p-skeleton width="20px" /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>
    </div>
</div>