<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden h-full" *transloco="let t">
    <div class="flex-auto overflow-y-auto p-6 sm:p-10" cdkScrollable>
        <!-- Advanced search -->


        <div class="flex flex-col bg-card shadow rounded-md mb-4 py-2">
            <div class="flex flex-row items-center justify-between p-4">
                <!-- Header -->
                <div class="mr-4 text-3xl font-medium tracking-tight leading-6 truncate">{{t('advanced-search')}}</div>
                <!-- Search -->
                <div class="flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button mat-flat-button color="warn" (click)="onSearch()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                        <span class="ml-2">{{t('search')}}</span>
                    </button>
                </div>
            </div>
            <div>
                <div class="flex flex-col sm:flex-row  mx-10 px-6 py-2 md:px-8 gap-20">
                    <!-- 標別 -->
                    <div class="flex items-center gap-2">
                        <div class="flex-shrink-0 leading-8 mr-9 font-semibold">標別 :</div>
                        <div class="flex flex-wrap">
                            <p-select [options]="tenderOptions" [checkmark]="true" [(ngModel)]="selectedTender" (onChange)="onTenderChange(selectedTender)"
                                placeholder="Select Tender" class="w-full md:w-56">
                            </p-select>
                        </div>
                    </div>

                    <!-- 檔名 -->
                    <div class="flex items-center gap-2">
                        <div class="flex-shrink-0 leading-8 mr-9 font-semibold">檔名 :</div>
                        <div class="flex flex-wrap">
                            <p-multiselect [options]="nameOptions" [(ngModel)]="selectedNames" [filter]="false" [showToggleAll]="false"
                                placeholder="--" [maxSelectedLabels]="1" [disabled]="!selectedTender" class="w-full md:w-80">
                            </p-multiselect>
                        </div>
                    </div>
                </div>

                <!-- 關鍵字查詢 -->
                <div class="flex items-center mx-10 px-6 py-2 md:px-8">
                    <div class="flex-shrink-0 items-center justify-center mr-9 leading-8 font-semibold">關鍵字 :</div>
                    <div class='flex flex-wrap gap-2'>
                        <div class="">
                            <input type="text"
                                class="px-2 py-1.5 border rounded w-full sm:min-w-64 focus:border-white bg-gray-700 border-gray-600 placeholder:text-gray-400 text-white"
                                placeholder="請輸入關鍵字..." (input)="onKeywordChange($event)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center justify-between p-4 mt-6">
                <!-- Header -->
                <div class="mr-4 text-3xl font-medium tracking-tight leading-6 truncate">
                    COBie 標籤
                </div>
            </div>

            <div>
                <!-- 已選條件 -->
                <div class="flex items-center mx-10 px-6 py-2 md:px-8 border-t border-b">
                    <div class="flex-shrink-0 items-center justify-center mr-4 leading-8 font-semibold">已選標籤 :</div>
                    <div class='flex flex-wrap gap-2'>
                        @for(criterion of criteria;track criterion){
                        @for(item of criterion.bim_categories;track item){
                        @if(item.selected){
                        <span class='flex items-center py-1 px-2 rounded cursor-pointer text-center border bg-gray-600 border-gray-400'
                            (click)="onSelected(item)">{{item.value}}
                            <mat-icon class="icon-size-5 ml-1" [svgIcon]="'heroicons_mini:x-mark'"></mat-icon>
                        </span>
                        }}}
                    </div>
                </div>

                <!-- 動態條件 -->
                @for(criterion of criteria;track criterion){
                <div class="flex items-center mx-10 px-6 py-2 md:px-8 cursor-pointer border-b">
                    <div class="flex-shrink-0 self-start items-center justify-center mr-4 leading-8 font-semibold">{{criterion.name}} :</div>
                    <div class="flex flex-wrap gap-2 transition-all duration-300"
                        [ngClass]="{'max-h-10 overflow-hidden': !criterion.collapse, 'max-h-[1000px] overflow-visible': criterion.collapse}">
                        @for (item of criterion.bim_categories; track item) {
                        <span class="py-1 px-2 rounded cursor-pointer text-center border hover:border-gray-400"
                            [ngClass]="{'border-gray-50': item.selected, 'border-transparent': !item.selected}" (click)="onSelected(item)">
                            {{ item.value }}
                        </span>
                        }
                    </div>
                    <div class="flex-none self-start ml-auto">
                        <button class='py-1 px-2 rounded cursor-pointer text-center border border-gray-400 primary' (click)="onCollapse(criterion)">
                            {{ criterion.collapse ? '▲' : '▼' }}
                        </button>
                    </div>
                </div>
                }
            </div>
        </div>

        <!-- Result table -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-md overflow-y-auto">
            <div class="flex flex-row items-center justify-start p-4">
                @if(data?.results.length>0){
                <div>
                    <div class="text-secondary font-medium text-lg">查詢結果 : 全部 {{data?.count}} 筆資料 </div>
                </div>
                <div class="pl-2">
                    <button mat-icon-button [matMenuTriggerFor]="exportMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:arrow-down-tray'"></mat-icon>
                    </button>
                    <mat-menu #exportMenu="matMenu">
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_outline:file-csv'"></mat-icon>
                                <span>匯出 CSV 檔案</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                                <span>匯出 TXT 檔</span>
                            </span>
                        </button>
                    </mat-menu>
                </div>
                }
                <div class="ml-auto">
                    <div class="flex items-center space-x-3 sm:ml-2 sm:mt-0">
                        <!-- Search -->
                        <!-- <button mat-flat-button color="warn" (click)="onSearch()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                            <span class="ml-2">{{t('search')}}</span>
                        </button> -->

                        <!-- Aggregated -->
                        <button mat-flat-button color="warn" (click)="onClickAggregated()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:photo'"></mat-icon>
                            <span class="ml-2">{{t('bim-model-viewer')}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Result table -->
            <div class="flex h-160">
                <p-table #dataTable class="w-full" [value]="data?.results" [totalRecords]="data?.count" [scrollable]="true" scrollHeight="flex"
                    [styleClass]="'p-datatable-lg'" [rows]="rowsPerPage" [paginator]="true" [lazy]="true" [selection]="selectedItems"
                    (onLazyLoad)="onPageChange($event)" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="header">
                        <tr class="border-b-2">
                            <th class="w-20 pl-8"></th>
                            <th>NO.</th>
                            <th>{{t('file-label')}}</th>
                            <th>{{t('version')}}</th>
                            <th>{{t('bim-group')}}</th>
                            <th>{{t('bim-category')}}</th>
                            <th>{{t('bim-name')}}</th>
                            <th>DBID</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr class="hover:bg-hover">
                            <td class="pl-8">
                                <p-tableCheckbox [value]="item" />
                            </td>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ item.model_name }}</td>
                            <td>{{ item.version }}</td>
                            <td>{{ item.group_name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.value }}</td>
                            <td>{{ item.dbid }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>