/* p-select */
.p-select-overlay {
  @apply text-base dark:text-white dark:bg-card;
}

.p-select-list-container {
  max-height: 400px !important;
}

.p-select-option {
  @apply dark:text-white;
}

.p-select-option.p-select-option-selected.p-focus {
  @apply dark:text-white dark:bg-slate-700;
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  @apply dark:text-white dark:bg-slate-700;
}

.p-select-option.p-select-option-selected {
  @apply dark:text-white dark:bg-slate-700;
}

.p-select-option-check-icon {
  @apply dark:text-white;
}

.p-tabpanels {
  @apply dark:pb-[14px];
}

/* 覆寫 gts-alert 的 padding，讓高度與按鈕一致 */
.gts-alert-container {
  padding: 12px !important;
}

/* 刪除全部按鈕的紅色樣式 */
button[color="warn"].mat-mdc-button {
  --mdc-text-button-label-text-color: #ef4444 !important;

  &:hover:not([disabled]) {
    background-color: rgba(239, 68, 68, 0.1) !important;
  }

  &[disabled] {
    --mdc-text-button-label-text-color: rgba(239, 68, 68, 0.3) !important;
  }
}
