.adsk-viewing-viewer {
    background: none !important;
}

.inventory-grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* grid-template-columns: 48px auto 40px;

  @screen sm {
    grid-template-columns: 48px auto 112px 72px;
  }

  @screen md {
    grid-template-columns: 48px 112px auto 112px 72px;
  }

  @screen lg {
    grid-template-columns: auto auto auto auto auto auto 72px;
  } */
}

.p-component {
  font-size: 14px;
}
.p-tree {
  background-color: transparent;
}
