<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden h-full" *transloco="let t">
    <div class="flex-auto overflow-y-auto p-6 sm:p-10 max-w-screen-sm">
        <!-- Breadcrumb -->
        <div class="pt-4 pb-2 px-6 text-default">
            <p-breadcrumb [model]="breadcrumbItems" [home]="homeBreadcrumbItem" styleClass="bg-transparent border-none"></p-breadcrumb>
        </div>

        <!-- Header -->
        <div class="flex flex-row items-center justify-between px-6 md:px-6">
            <!-- Title -->
            <div class="text-3xl font-extrabold leading-none tracking-tight">
                {{t('aps-credentials')}}
            </div>           

        </div>
        <!-- Content -->
        <div class="flex flex-col flex-auto py-8 px-6 ">

            <form [formGroup]="form">
                <div class="grid sm:grid-cols-4 gap-6 w-full">
                    <!-- Client ID -->
                    <div class="sm:col-span-4">
                        <mat-form-field class="w-full gts-mat-dense" [subscriptSizing]="'dynamic'">
                            <mat-label>{{t('client-id')}}</mat-label>
                            <input matInput [formControlName]="'client_id'" #clientIdField>
                            @if(form.get('client_id').hasError('required')){
                            <mat-error *ngIf="">{{t('client-id')}}{{t('is-required')}}</mat-error>
                            }

                        </mat-form-field>
                    </div>

                    <!-- Client Secret -->
                    <div class="sm:col-span-4">
                        <mat-form-field class="w-full gts-mat-dense" [subscriptSizing]="'dynamic'">
                            <mat-label>{{t('client-secret')}}</mat-label>
                            <input type="password" matInput [formControlName]="'client_secret'" #secretIdField>
                            <button mat-icon-button type="button"
                                (click)="secretIdField.type === 'password'? (secretIdField.type = 'text'): (secretIdField.type = 'password')" matSuffix>
                                @if (secretIdField.type === 'password') {
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                }
                                @if (secretIdField.type === 'text') {
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                                }
                            </button>
                            @if(form.get('client_secret').hasError('required')){
                            <mat-error>{{t('client-secret')}}{{t('is-required')}}</mat-error>
                            }

                        </mat-form-field>
                    </div>
                </div>
            </form>

        </div>

        <!-- Actions -->

        <!-- Actions -->
        <div class="flex items-center justify-center sm:justify-end space-x-3 sm:ml-2 sm:mt-0">
            <button mat-flat-button (click)="onSave()">
                <mat-icon class="icon-size-5" [svgIcon]="'feather:save'"></mat-icon>
                <span class="ml-2">{{t('save')}}</span>
            </button>
        </div>
    </div>
</div>

