<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden h-full" *transloco="let t">

    <div class="flex flex-auto flex-col h-full bg-white dark:bg-gray-900">

        <!-- Main -->
        <div class="flex flex-auto p-6">
            <div class="mx-auto flex w-full max-w-xs flex-auto flex-col sm:max-w-2xl">

                <!-- Content -->
                <form [formGroup]="form">
                    <div class="grid sm:grid-cols-4 gap-6 w-full">
                        <!-- Client ID -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full gts-mat-dense" [subscriptSizing]="'dynamic'">
                                <mat-label>{{t('client-id')}}</mat-label>
                                <input matInput [formControlName]="'client_id'" #clientIdField>
                                @if(form.get('client_id').hasError('required')){
                                <mat-error *ngIf="">{{t('client-id')}}{{t('is-required')}}</mat-error>
                                }
                            </mat-form-field>
                        </div>

                        <!-- Client Secret -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full gts-mat-dense" [subscriptSizing]="'dynamic'">
                                <mat-label>{{t('client-secret')}}</mat-label>
                                <input type="password" matInput [formControlName]="'client_secret'" #secretIdField>
                                <button mat-icon-button type="button"
                                    (click)="secretIdField.type === 'password'? (secretIdField.type = 'text'): (secretIdField.type = 'password')" matSuffix>
                                    @if (secretIdField.type === 'password') {
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    }
                                    @if (secretIdField.type === 'text') {
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                                    }
                                </button>
                                @if(form.get('client_secret').hasError('required')){
                                <mat-error>{{t('client-secret')}}{{t('is-required')}}</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <!-- Divider -->
                <div class="mb-10 mt-12 border-t"></div>

                <!-- Actions -->
                <div class="flex items-center justify-end pb-4">
                    <button mat-flat-button (click)="onSave()">
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:save'"></mat-icon>
                        <span class="ml-2">{{t('save')}}</span>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>
