/* Primeng Overrides */
.p-component {
  @apply transition-none;
}

.p-inputtext {
  @apply text-base text-default bg-transparent;
  @apply border-gray-300 dark:border-gray-500 dark:bg-black dark:bg-opacity-5;
  @apply transition-none;
}

/* Calendar */
.p-datepicker {
  @apply text-base text-default bg-default;
  @apply border-gray-300 dark:border-gray-500;

  .p-datepicker-header {
    @apply text-base text-default bg-default;

    .p-datepicker-title {
      @apply text-default;
    }
  }
}

/* TreeSelet */
.p-treeselect {
  @apply text-base text-default bg-transparent;
  @apply border-gray-300 dark:border-gray-500;
  @apply transition-none;

  .p-treeselect-label {
    @apply transition-none;
  }

  .p-treeselect-panel {
    @apply text-base text-default bg-default;
    @apply border-gray-300 dark:border-gray-500;

    .p-treeselect-header {
      @apply text-base text-default bg-default;

      .p-treeselect-items-wrapper {
        @apply text-base text-default bg-default;
      }
    }

    .p-treenode-content {
      @apply text-default hover:bg-slate-300 dark:hover:bg-slate-800;
    }
  }
}

/* Tree */
.p-tree {
  @apply text-base text-default bg-default;
}

/* Select */
.p-select {
  @apply text-base text-default bg-transparent #{'!important'};
  @apply border-gray-300 dark:border-slate-50;

  .p-select-overlay {
    @apply text-base text-default bg-default #{'!important'};
  }

  .p-select-option {
    @apply text-inherit;
  }

  .p-select-option.p-select-option-selected.p-focus {
    @apply text-inherit bg-gray-800;
  }

  .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    @apply text-inherit bg-gray-800;
  }

  .p-select-option.p-select-option-selected {
    @apply text-inherit bg-gray-800;
  }

  .p-select-label {
    @apply text-inherit;
  }

  .p-select-option-check-icon {
    @apply text-inherit;
  }
 
}



/* MultiSelect */
.p-multiselect {
  @apply text-base text-default bg-transparent #{'!important'};
  @apply border-gray-300 dark:border-slate-50;

  .p-multiselect-overlay {
    @apply text-base text-default bg-default #{'!important'};
  }

  .p-multiselect-option {
    @apply text-inherit;
  }

  .p-multiselect-option:not(.p-multiselect-option-selected):not(
      .p-disabled
    ).p-focus {
    @apply text-inherit bg-gray-800;
  }

  .p-multiselect-label {
    @apply text-inherit;
  }

  .p-multiselect-panel {
    @apply text-base text-default bg-default #{'!important'};
    @apply border-gray-300 dark:border-gray-500;

    .p-multiselect-header {
      @apply text-base text-default bg-default #{'!important'};
    }
  }

  .p-multiselect-token {
    @apply text-default dark:bg-gray-800;
  }
}

/* Chip */
.p-chip {
  @apply text-default bg-gray-800 #{'!important'};
}
.p-chip-remove-icon {
  @apply text-default #{'!important'};
}

/* Table */
.p-datatable {
  .p-datatable-thead > tr > th {
    @apply text-base text-default bg-default dark:bg-slate-700;
    @apply border-b-0 border-gray-200;
    @apply transition-none;
  }

  .p-datatable-tbody {
    > tr {
      @apply text-base text-default bg-transparent;

      td {
        @apply border-b border-gray-200;
      }
    }

    > tr.p-datatable-row-selected {
      @apply text-inherit bg-gray-800;

      > td {
        @apply border-inherit bg-inherit;
      }
    }

    > tr:has(+ .p-datatable-row-selected) > td {
      @apply border-inherit #{'!important'};
    }
  }
}

.p-toggleswitch {
  width: 50px;
  height: 25px;
}

.p-datatable-hoverable
  .p-datatable-tbody
  > tr:not(.p-datatable-row-selected):hover {
  @apply text-inherit #{'!important'};
}

.p-datatable-scrollable
  > .p-datatable-table-container
  > .p-datatable-table
  > .p-datatable-thead {
  @apply bg-transparent #{'!important'};
}

/* TreeTable */
.p-treetable {
  .p-treetable-scrollable-header {
    @apply text-base text-default bg-default dark:bg-card;
  }

  .p-treetable-thead > tr > th {
    @apply text-base text-default bg-default dark:bg-card;
    @apply border-b-0 border-gray-200;
    @apply transition-none;
  }

  .p-treetable-tbody > tr {
    @apply text-base text-default bg-transparent;

    td {
      @apply border-b border-gray-200;

      .p-treetable-toggler {
        @apply text-default hover:bg-transparent;
      }
    }
  }
}

.p-paginator {
  @apply bg-transparent #{'!important'};
}

.p-datatable-paginator-bottom {
  @apply border-b-0 #{'!important'};
}

/* Skeleton */
.p-skeleton {
  @apply bg-slate-600 #{'!important'};
}

/* Paginator */
.p-paginator {
  .p-paginator-page.p-paginator-page-selected {
    @apply text-default bg-slate-700 #{'!important'};
  }
  .p-paginator-pages {
    .p-paginator-page:not(.p-highlight):hover:is(.dark *) {
      @apply text-default #{'!important'};
    }
  }
}
.p-paginator {
  @apply bg-transparent border-transparent;
  .p-paginator-pages {
    .p-paginator-page:not(.p-highlight):hover {
      @apply dark:bg-slate-800;
    }
    .p-paginator-page.p-highlight {
      @apply text-default bg-slate-200 dark:bg-card;
    }
  }

  .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    @apply text-default bg-slate-200 dark:bg-card;
  }
}
