<div class="relative flex flex-col w-full h-full" *transloco="let t">
    <!-- Content -->
    <div class="flex flex-col flex-auto p-8 pb-6 sm:pb-8">
        <!-- Panel title -->
        <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
            {{t('aps-account')}}
        </div>

        <form [formGroup]="form">
            <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                <!-- Client ID -->
                <div class="sm:col-span-4">
                    <mat-form-field class="w-full fuse-mat-dense" [subscriptSizing]="'dynamic'">
                        <mat-label>{{t('client-id')}}</mat-label>
                        <input type="password" matInput [formControlName]="'clientId'" #clientIdField>
                        <button mat-icon-button type="button"
                            (click)="clientIdField.type === 'password' ? (clientIdField.type = 'text'): (clientIdField.type = 'password') " matSuffix>
                            @if (clientIdField.type === 'password') {
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            }
                            @if (clientIdField.type === 'text') {
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                            }
                        </button>
                        @if(form.get('clientId').hasError('required')){
                        <mat-error *ngIf="">Email address is required</mat-error>
                        }

                    </mat-form-field>
                </div>

                <!-- Client Secret -->
                <div class="sm:col-span-4">
                    <mat-form-field class="w-full fuse-mat-dense" [subscriptSizing]="'dynamic'">
                        <mat-label>{{t('client-secret')}}</mat-label>
                        <input type="password" matInput [formControlName]="'clientSecret'" #secretIdField>
                        <button mat-icon-button type="button" (click)="
                                    secretIdField.type === 'password'
                                        ? (secretIdField.type = 'text')
                                        : (secretIdField.type = 'password')
                                " matSuffix>
                            @if (secretIdField.type === 'password') {
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            }
                            @if (secretIdField.type === 'text') {
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                            }
                        </button>
                        @if(form.get('clientSecret').hasError('required')){
                        <mat-error>Email address is required</mat-error>
                        }

                    </mat-form-field>
                </div>

                <!-- Bucket Name -->
                <div class="sm:col-span-4">
                    <mat-form-field class="w-full fuse-mat-dense" [subscriptSizing]="'dynamic'">
                        <mat-label>{{t('bucket-key')}}</mat-label>
                        <input [formControlName]="'bucketKey'" matInput>
                        @if(form.get('bucketKey').hasError('required')){
                        <mat-error>Email address is required</mat-error>
                        }

                    </mat-form-field>
                </div>
            </div>

        </form>

    </div>

    <!-- Actions -->
    <div class="flex items-center justify-center sm:justify-end px-6 py-4 space-x-3">

        <!-- Cancel -->
        <button mat-stroked-button [matDialogClose]="'cancelled'">
            Cancel
        </button>

        <!-- Confirm -->
        <button mat-stroked-button (click)="onSave()">
            Save
        </button>
    </div>
</div>